.ba_gallery {
    border: 10px double #FFFFFF;
    color: #555555;
    font-family: 'Cuprum',arial,serif;
    font-size: 14px;
    height: 450px;
    margin-bottom: 0 !important;
    margin-left: 60px;
    margin-right: auto !important;
    margin-top: 50px;
    position: static;
    width: 500px;
}
.ba_gallery br{
	display:none;
}

.ba_gallery img{
	margin:0px;
	padding:0px;
	position:absolute;
	display:block;
}

.ba_gallery > img{
	position:relative;
	display:inline;
}

.ba_container{
	position:relative;
}

.ba_mask{
	position:relative;
	overflow:hidden;
	background:url('../images/preloader3.gif') no-repeat 50% 50%;
}

.ba_footer{
	position:relative;
	height:22px;
	top:-11px;
}

.ba_item{
	float:left;
	overflow:hidden;
	position:relative;
}

.ba_info {
    display: none !important;
    float: left;
    height: inherit;
    left: 10px;
    position: absolute;
    width: 70%;
}
#superstar .column.left p, #superstar .column.left h2 {
    color: #FFFFFF !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.gallery_1.ba_gallery.skin2 {
    margin-bottom: 57px !important;
}
.ba_info_bg_l{
	height:inherit;
	width:9px;
	background:url('../images/footer.png') no-repeat 0px 0px;
	float:left;
}
.ba_info_bg_r{
	height:inherit;
	width:9px;
	background:url('../images/footer.png') no-repeat -50px 0px;
	float:left;
}
.ba_info_text{
	height:inherit;
	width:90%;
	background:url('../images/footer_text_bg.png') repeat-x;
	float:left;
	padding-top:2px;
	padding-left:2px;
}


.ba_btn_prev, .ba_btn_next{
	position:absolute;
	right:10px;
	height:22px;
	background-color:#0000ff;
	cursor:pointer;
	
	width:30px;	
	background:url('../images/footer.png') no-repeat -30px 0px;
}

.ba_btn_prev{
	width:30px;	
	right:40px;
	background:url('../images/footer.png') no-repeat 0px 0px;
}

.ba_controller {
	position:absolute !important;
	width:36px;
	height:16px;
	background-image:url('../images/before_after_controller.png');
	cursor:pointer;
}

.ba_door {
	position:absolute;
	overflow:hidden;
	border-left:1px solid white;
}

.ba_wall {
	position:absolute;
	background-color:#ffffff;
	background-color: "transparent";
	opacity: 0;
	filter: alpha(opacity = 1);

	width:inherit;
	height:inherit;
	
	-moz-user-select: none;
    -khtml-user-select: none;
	-webkit-user-drag: none;
	cursor:pointer;
}


/*
	SKIN 2
*/


.skin2{

}

.skin2 .ba_door{
	
}

.skin2 .ba_footer{
	height:22px;
	position:relative;
	top:-27px;
}

.skin2 .ba_btn_prev, .skin2 .ba_btn_next{
	position:absolute;
	right:4px;
	height:22px;
	background-color:#0000ff;
	cursor:pointer;
	
	width:30px;	
	background:url('../images/footer_alternate.png') no-repeat -30px 0px;
}

.skin2 .ba_btn_prev{
	width:30px;	
	right:35px;
	background:url('../images/footer_alternate.png') no-repeat 0px 0px;
}

.skin2 .ba_info_bg_l{
	height:inherit;
	width:9px;
	background:url('../images/footer_alternate_2.png') no-repeat 0px 0px;
	float:left;
}
.skin2 .ba_info_bg_r{
	height:inherit;
	width:9px;
	background:url('../images/footer_alternate_2.png') no-repeat -50px 0px;
	float:left;
}
.skin2 .ba_info_text{
	height:inherit;
	width:90%;
	background:url('../images/footer_alternate_22.png') repeat-x;
	float:left;
	padding-top:2px;
	padding-left:2px;
	color:#ffffff;
}

.gallery_1.ba_gallery.skin2 {
    float: left;
}
.ba_item img {
    width: 100%;
}